html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Nunito', sans-serif;
}

#bg1{
    height: 18vh;
     background-color: #42cba5;
}

#bg2{
    height: 82vh;
     background-color: #e0e0e0;
}

#chat{
    top: 0%;
    bottom: 0%;
    margin: auto;
    position: fixed;
    height: 94%;
    width: 85%;
    right: 0px;
    left: 0px;
    background-color: #fff;
    display: flex;
    flex-direction: row;

}

#chat #sidebar{
    flex-basis: 26%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

#chat #sidebar #sidebarheader{
    flex-basis: 67px;
    background-color: #eeeeee;
  
}

#chat #sidebar #search{
    flex-basis: 50px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e1e4e5;
    display: flex;
    justify-content: center;
    align-items: center;

}

#chat #sidebar #nochats{
    text-align: center;
    padding-top: 30px;
    color:#b9b9b9;
    font-size:18px;
    font-family: sans-serif;
    font-weight: 100;
}

#chat #sidebar #search input{
    
        width: calc(90% - 60px);
        border:1px solid #f2f2f2;
        border-radius: 7px;
        height:70%;
        padding-left:60px;
        color:#9a9a9a;
        outline: none;
        &::placeholder{
            color: #9a9a9a;
            font-weight: 100;
        
}